# Ignorar arquivos C/C++ da detecção de linguagem
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.h linguist-detectable=false

# Forçar Dart como linguagem principal
*.dart linguist-language=Dart
